.gradient-background{
    background: linear-gradient(243deg, #d1cece, #6596db, #98d6e4, #94aedb, #5f94ee, #babec4, #6976db, #371a54, #6e4199);
    background-size: 1800% 1800%;
	animation: gradient 25s ease infinite;
	height: 100vh;    
    
}

.rubik-h1 {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-size: 5.62rem;
    font-style: normal;
}

@keyframes gradient {

    0%{background-position:0% 50%}

    50%{background-position:100% 51%}

    100%{background-position:0% 50%}
}


.titletop{
 height: 100vh; /* Full viewport height */
      margin: 0; /* Remove default margin */
      justify-content: center; /* Center horizontally */
      align-items: center; /* Center vertically */    
}
     
.pic-circ{
    border-radius: 50%;
}

.parent{
 display: grid;
 grid-template-columns: 0.5fr 1fr;
 grid-template-rows: (1, 1fr);
 width:50%;
 margin:100px auto 0 auto;
 row-gap: 2rem;

}

body {
    
    margin: 0;
    text-align: center;

}